<h1 [ngStyle]="{'color':'white' ,'background-color':'black'}">Attribute Directives</h1><br><br><hr>

<h2 [ngStyle]="{'text-align':'center','color': 'red' ,'background-color':'yellow'}">ngStyle Directives</h2>

<h2 [ngClass]="{'highlight': change}">ngClasss Directives</h2>

<button (click)="clicked()" >Click</button>


<div [ngClass]="{'divchange':school}">

  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio quod nemo optio nostrum ea. Non amet quam iste tempore reiciendis voluptas omnis vel eaque eius consequuntur, porro, nostrum minima iure, nemo obcaecati perferendis quisquam error quis deserunt commodi libero dolores itaque sunt! Voluptate magnam error quidem. Explicabo sapiente expedita dolorum.
</div>

<br>
<button (click)="showhide()">Show(hide)</button>



