<h1>Directives</h1>

<p>there are three types of directives</p>

<h4>Componenet based directives</h4>
<h4>Structural directives</h4>
<h4>Attributer directives</h4><hr><hr>


<h1>Structural Directives</h1><hr>

<h3>ngif directives(dispaly or hide data to use condition true or false to used ngif)</h3>

<br>
<div *ngIf="show">this div is true</div>

<div *ngIf="!show">this div is false</div>

<button (click)="showdiv()">Click</button><br><br>

<br><hr>

<h3>ngfor directives( array show in list and table ,etc to use the ngfor directives )</h3>

<h4>My Best Friends Forever</h4>

{{friends}}

<ul>
  <li *ngFor="let friend of friends let i = index;"  value="{{friend}}">{{ (i+1) + friend }}</li>
</ul>
<br><br>
<hr>

<h1>Students Lists</h1>
<ul>
  <li *ngFor="let stu of students">{{stu.rollNo}} {{stu.name}} {{stu.Surname}}</li>
</ul>


<hr>

<h3>ngSwitch directives (check multiple condition)</h3>

<input type="number" [(ngModel)]="choice">
<div [ngSwitch]="choice">
  <div *ngSwitchCase="1">This is one</div>
 <div *ngSwitchCase="2">This is Two</div>
 <div *ngSwitchCase="3">this is three</div>
 <div *ngSwitchCase="4">this is four</div>
 <div *ngSwitchCase="5">this is five</div>
 <div *ngSwitchCase="">Value is not defined</div>
</div>











<br><br><br><br><br><br><br><br><br><br>

<hr>


<app-attribute></app-attribute>


<hr><hr>


<h1 appCustom>Custom Directive</h1>

<p appCustomstyle>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nisi maxime exercitationem inventore qui beatae, velit sequi repudiandae assumenda porro, labore suscipit voluptatem. Minima, sapiente facilis doloribus veniam vero provident itaque omnis eum impedit esse possimus quos, dolores quo, vel odit! Illo non incidunt nostrum optio provident assumenda enim a!</p>
